{% for i in 0 .. 2 %}
<div class="col-4 border border-white px-0">
    <div id="carousel{{loop.index}}" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item {% if loop.first %}active{% endif %}">
            <img src="https://picsum.photos/650/450?random=1" class="img-fluid d-block w-100">
        </div>
        <div class="carousel-item {% if loop.index is same as(2) %}active{% endif %}">
            <img src="https://picsum.photos/650/450?random=2" class="img-fluid d-block w-100">
        </div>
        <div class="carousel-item {% if loop.last %}active{% endif %}">
            <img src="https://picsum.photos/650/450?random=3" class="img-fluid d-block w-100">
        </div>
    </div>
    </div>
</div>
{% endfor %}