<div class="scrolling-wrapper">
    {% for i in 0 .. programs|length - 1 %}
        <div class="card bg-white text-white w-100 w-sm-50 w-lg-25 border-0 mx-4">
            <img src="{{ programs[i]['image'] }}" class="card-img-top border-0 m-0" alt="{{ programs[i]['name'] }}">
            <div class="card-body rounded text-dark">
                <h5 class="card-title">{{ programs[i]['program'] }}</h5>
                <p class="card-text">{{ programs[i]['description'] }}</p>
            </div>
        </div>
    {% endfor %}
</div>