{% for i in 0 .. 5 %}
    <div class="col mb-4">
        <div class="card border-0 h-100">
            <div>
                <span class="badge bg-mountain-meadow text-white position-absolute p-2 m-3" style="right:0">Bio-medical</span>
            </div>
            <img src="../public/images/logo.png" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title text-mountain-meadow mb-0">Olog Logistics</h5>
                <p class="card-text">Lorem ipsum dolor sit amet</p>
            </div>
        </div>
    </div>
{% endfor %}